<h2><%= venue.name %></h2>

<div class="container-fluid">
<% teams.forEach((team) => { %>
  <div class="row">
  <div class="col-lg-5">
    <h2><a href="/teams/<%= team.id %>"><%= team.name %></a></h2>
    <h3><%= team.format %></h3>
    <h3><%= team.day %></h3>
    <h3><%= team.venue %></h3>
  </div>
  </div>
<% }) %>
</div>
